<nav style="margin-left: 10px;">
    <aside>
        <ul>
            <li><h1><img src="" alt=""><span><b>Admin</b></span></h1></li>
        </ul>
        <ul>
            <li id="home">
                <a href="#home">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
        
                </a>
             </li>

        </ul>
        <ul style="margin-top: -30px;">

             <li id="comp">
                <a href="#comp" routerLink="/add" routerLinkActive="active-link">
                    <i class="fa fa-diamond"></i>
                    <span><b>Add User</b></span>
                    <i class="fa fa-angle-right"></i>
                </a>
             </li>
             
             <li id="chart">
                <a href="#chart" routerLink="/loanad" routerLinkActive="active-link">
                    <i class="fa fa-line-chart"></i>
                    <span><b>Add Loan</b></span>
                    <i class="fa fa-angle-right"></i>
                </a>
        
            <!-- <ul> -->
                <!-- <li><p><a routerLink="/loanad" routerLinkActive="active-link">Add Loan</a></p></li> -->
                <!-- <li><p><a routerLink="/manloan" routerLinkActive="active-link">Manage Loan</a></p></li> -->
            <!-- </ul> -->
             </li>

             <li id="manage">
                <a href="#manage" routerLink="/manloan" routerLinkActive="active-link">
                    <i class="fa fa-diamond"></i>
                    <span><b>Manage Loan</b></span>
                    <i class="fa fa-angle-right"></i>
                </a>
             </li>


             <li id="user">
                <a href="#user">
                    <i class="fa fa-users"></i>
                    <span>Loan Dues</span><i class="fa fa-angle-right"></i>
                </a>
            
            <!-- <ul> -->
                <!-- <li><p>Normal home</p></li> -->
                <!-- <li><p>2nd</p></li> -->
                <!-- <li><p>3rd</p></li> -->
            <!-- </ul> -->
             </li>
             <li id="task">
                <a href="#task">
                    <i class="fa fa-tasks"></i>
                    <span>Savings</span><i class="fa fa-angle-right"></i>
                </a>
            
            <!-- <ul> -->
                <!-- <li><p>Normal home</p></li> -->
                <!-- <li><p>2nd</p></li> -->
                <!-- <li><p>3rd</p></li> -->
            <!-- </ul> -->
             </li>
             
             
        </ul>
    </aside>
    <header>
        <h1><b>Administrator</b></h1>
    </header>
</nav>
