<app-navbar></app-navbar>

<div class="profile">
<div class="user-profile py-4">
   <div class="container">
     <div class="row">
       <div class="col-lg-6">
         <div class="card shadow-sm">
           <div class="card-header bg-transparent text-center">
             <img class="profile_img" src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/87-512.png">
             <h3>USER</h3>
           </div>
           <div class="card-body">
            <h4>SBI State Bank of India</h4>
            <hr>
            <p class="mb-0"><strong class="pr-1">Account No</strong> : 7865328012</p>
             <p class="mb-0"><strong class="pr-1">IFSC</strong>   : SBINOO70939</p>
             <p class="mb-0"><strong class="pr-1">E-mail</strong> : sbi.12234@sbi.co.in</p>
           </div>
           <button type="button" class="btn btn-white btn-lg btn-block">Feedback</button>        
         </div>
       </div>
       </div>