<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <a href="#" class="logo">
        <img src="/assets/cover.png" alt="">
       </a>
     
        <ul class="navbar-nav ms-auto">
          
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="account" routerLinkActive="active-link">Account</a>
        </li>


        <li class="nav-item">
          <a class="nav-link"  routerLink="reg" routerLinkActive="active-link">User Sign Up</a>
        </li>

      </ul>


      <div class="containers">
        <input type="text" name="search" placeholder="Search here..." class="input" />
          <i class="fas fa-search" style="font-size: 17px;"></i>
      </div>
       
      <div class="fas fa-user fa-3x" id="admin" routerLink="/loginad" routerLinkActive="active-link" style="margin-left: -40px;margin: 35px;position: relative;right: 80px;"></div>
      
    </div>
  </div>
</nav>