<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row g-3">
              <table class="table">
                  <thead>
                    <tr>
                      
                      <th scope="col">UserName</th>
                      <th scope="col">Email ID</th>
                      <th scope="col">Phone No</th>
                      <th scope="col">Date of birth</th>
                      <th scope="col">Address</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of data">
                      
                      <td>
                        <div *ngIf="i.isEdit">
                          <input type="text" name="username" class="form-control" [(ngModel)]="i.userName">
                        </div>
                        <div *ngIf="!i.isEdit">
                          {{i.userName}}
                        </div>
                      </td>
                      
                      <td>
                        <div *ngIf="i.isEdit">
                          <input type="text" name="email" class="form-control" [(ngModel)]="i.email"  >
                        </div>
                        <div *ngIf="!i.isEdit">
                          {{i.email}}
                        </div>
                      </td>
                      <td>
                        <div *ngIf="i.isEdit">
                          <input type="text" name="phoneno" class="form-control" [(ngModel)]="i.phoneNo"  >
                        </div>
                        <div *ngIf="!i.isEdit">
                          {{i.phoneNo}}
                        </div>
                      </td>

                      <td>
                        <div *ngIf="i.isEdit">
                          <input type="text" name="dob" class="form-control" [(ngModel)]="i.dob"  >
                        </div>
                        <div *ngIf="!i.isEdit">
                          {{i.dob}}
                        </div>
                      </td>

                      <td>
                        <div *ngIf="i.isEdit">
                          <input type="text" name="" class="form-control" [(ngModel)]="i.address"  >
                        </div>
                        <div *ngIf="!i.isEdit">
                          {{i.address}}
                        </div>
                      </td>
                                              
                      
                      <td>
                        <div *ngIf="!i.isEdit">
                          <table class="g-3">
                            <tr>
                              <td><button class="btn btn-primary" (click)="onEdit(i)">Edit</button></td>
                              &nbsp;
                              <td><button class="btn btn-danger"  (click)="Deleteuser(i)">Delete</button></td>
                            </tr>
                          </table>
                        </div>
                        <div *ngIf="i.isEdit">
                          <table class="g-3">
                            <tr>
                              <td><button class="btn btn-primary" (click)="Updateuser(i)">save</button></td>
                              &nbsp;
                              <td> <button class="btn btn-danger" (click)="i.isEdit = false">cancel</button></td>
                            </tr>
                          </table>
                        </div>
                        
                      
                      </td>

                    </tr>
                    
                  </tbody>
                </table>
      </div>
  </div>
</div>
