<app-navbar></app-navbar>
<!-- home section starts  -->

<section class="home" id="home">

  <div class="content">
    <h3 style="font-size: 50px;">KUDUMBASREE</h3>
      <p><b>poverty eradication and women empowerment programme implemented by the State Poverty Eradication Mission (SPEM) of the Government of Kerala.</b></p>
      <a href="#" class="btn">get yours now</a>
  </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

  <h3 class="heading"><b>About Us</b></h3>
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6 col-xxl-6">

              <img src="assets/carousel1.jpg" class="d-block w-100" alt="...">
            

              <img src="assets/image2.jpg" class="d-block w-100" alt="...">
            
        
              <img src="assets/image3.jpg" class="d-block w-100" alt="...">
            
            
              <img src="assets/image4.jpg" class="d-block w-100" alt="...">
            
          
              <img src="assets/image5.jpg" class="d-block w-100" alt="...">
            
            
              <img src="assets/image6.jpg" class="d-block w-100" alt="...">
          
          
              <img src="assets/image7.jpg" class="d-block w-100" alt="...">
        
          
              <img src="assets/image8.jpg" class="d-block w-100" alt="...">


              <img src="assets/image9.jpg" class="d-block w-100" alt="...">


              <img src="assets/image10.jpg" class="d-block w-100" alt="...">
      
      </div>
    
    
      

      <div class="col col-12 col-sm-6 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
      <div class="content">
          <h3><b> Features Of Kudumbashree</b></h3>
          <p><b>Kudumbashree, the Kerala State Poverty Eradication Mission was launched on 17th May 1998 inaugurated by the Prime Minister, Shri Atal Bihari Vajpayee. The Mission aims to eradicate absolute poverty within a definite time frame of 10 years under the leadership of Local Self Governments formed and empowered by the 73rd and 74th Amendments of the Constitution of India. The Mission launched by the State Government with the active support of Government of India and NABARD has adopted a different methodology in addressing poverty by organizing the poor in to community-based organizations. The Mission follows a process approach rather than a project approach.</b></p>
          <p><b>Kudumbashree, a community organization of Neighborhood Groups (NHGs) of women in Kerala, has been recognized as an effective strategy for the empowerment of women in rural as well as urban areas: bringing women together from all spheres of life to fight for their rights or for empowerment. The overall empowerment of women is closely linked to economic empowerment. Women through these NHGs work on a range of issues such as health, nutrition, agriculture, etc. besides income generation activities and seeking micro credit.</b></p>
          <p><b>Kudumbashree, a community organization of Neighborhood Groups (NHGs) of women in Kerala, has been recognized as an effective strategy for the empowerment of women in rural as well as urban areas: bringing women together from all spheres of life to fight for their rights or for empowerment. The overall empowerment of women is closely linked to economic empowerment. Women through these NHGs work on a range of issues such as health, nutrition, agriculture, etc. besides income generation activities and seeking micro credit.</b></p>
          <p><b>Kudumbashree was conceived as a joint programme of the Government of Kerala and Nabard implemented through Community Development Societies (CDSs) of Poor Women, serving as the community wing of Local Governments. Kudumbashree is formally registered as the "State Poverty Eradication Mission" (SPEM), a society registered under the Travancore Kochi Literary, Scientific and Charitable Societies Act 1955. It has a governing body chaired by the State Minister of LSG. There is a state mission with a field officer in each district. This official structure supports and facilitates the activities of the community network across the state. Kudumbashree differs from conventional programmes in that it perceives poverty not just as the deprivation of money, but also as the deprivation of basic rights. The poor need to find a collective voice to help claim these rights.</b></p>
          <p><b>The grassroots of Kudumbashree are Neighbourhood Groups (NHG in short) that send representatives to the ward level Area Development Societies (ADS). The ADS sends its representatives to the Community Development Society (CDS), which completes the unique three-tier structure of Kudumbashree.</b></p>
          <p><b>It is this network that brings women to the Grama Sabhas and helps them bring the needs of the poor to the attention of the local governments. The Community Development Societies are also very active in Government programmes and play significant roles in development activities ranging from socio-economic surveys and enterprise development to community management and social audit.</b></p>
          <p><b>Though its efforts to engage women in civil society in development issues and opportunities, Kudumbashree in association with the local self government of Kerala is charting out new meaning and possibilities for local economic development and citizen centric governance.</b></p>
          <h3><b>MISSION</b></h3>
          <p><b>1.The universality of reach – from its very inception Kudumbashree has attempted to bring every poor woman in the state within its fold, as a consequence of which today Kudumbashree is present in every village panchayat and municipality, and in nearly every ward, colony and hamlet. The sheer spread is mind boggling, and it is only because the local community of women drive the system that it has managed to persevere.</b></p>
          <p><b>2.The scope of community interface in local governance – the functioning of Kudumbashree is tied up to the development initiatives of the local government be it for social infrastructure, welfare or right based interventions or for employmentgeneration. From food security to health insurance, from housing to enterprise development, from the national wage employment programme to the jagratha samiti, every development experience depends on Kudumbashree to provide the community interface.</b></p>
          <h3><b>The Mission Statement</b></h3>
          <p><b> To eradicate absolute poverty in ten years through concerted community action under the leadership of local governments, by facilitating organization of the poor for combining self-help with demand-led convergence of available services and resources to tackle the multiple dimensions and manifestations of poverty, holistically. </b></p>
         <h3><b>VISION</b></h3>
         <p><b>Kudumbashree strives to develop the model of a micro finance led financial security process into a more comprehensive model of local economic development under the aegis of local governments. This would hopefully sustain the transformation of the local governance agenda from welfare to entitlement. Such a transformation does not come about easily and requires rewriting established administrative and development practices</b></p>
         <p><b>It requires the community acquiring voice and being heard. It requires institutionalizing processes that allow for participation and meaningful contribution. And when we speak of community we speak of the people for whom government is a palpable entity influencing the quality of their lives, as well as of the people on the periphery, both social and physical, for whom manifold deprivations have snuffed out hope of change.</b></p>
         <p><b>We speak of the women who are finding, through collective endeavours, the stepping stones leading from participation to citizenship in its truest sense. It is through the realization of citizenship that Kudumbashree would be able to significantly address issues of equity and justice.</b></p>
         
         <h4><b>Best Of Kudumbashree:</b></h4>
         <p><b>Knowledge Portal Insights on Programs Articles on Kudumbashree Awards Achievements Innovations Convergence Presentations Best Practices Featured News Blog Best CDS Stories</b></p>
         
          <a href="#" class="btn">learn more</a>
      </div>
</div>
  </div>
  </div>

</section>

<!-- about section ends -->

<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <section class="footer">

              <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-instagram"></a>
                  <a href="#" class="fab fa-linkedin"></a>
                  <a href="#" class="fab fa-pinterest"></a>
              </div>
          
              <div class="links">
                  <a href="#">Home</a>
                  <a href="#">Career</a>
                  <a href="#">Internships</a>
                  <a href="#">Products</a>
                  <a href="#">Contact</a>
              </div>
          
              <div class="credit">© Copyright<span> 2022 Kudumbashree</span> | all rights reserved</div>
          
          </section>
          
          
          
          
          
          
          
          
          
      </div>
  </div>
</footer>




































