
<div class="main">
  <div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3 ">
            <div class="row">
              <div class="col col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 col-xxl-12 ">
                <div class="container">
                      
                  <h1 align="center">
                    <small class="text-muted">Manage Loan</small>
                  </h1>
                      
                      <hr >
                      <div class="table-responsive">
                        
                        <table class="table">
                            <thead class="table-secondary">
                              <tr>
                                <th scope="col">LoanID</th>
                                <th scope="col">Loan Name</th>
                                <th scope="col">Loan Plan</th>
                                <th scope="col">Interest</th>
                                <th scope="col">Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let i of data">
                                <th scope="row">
                                  <div *ngIf="i.isEdit">
                                    <input type="text" name="loanid" class="form-control" [(ngModel)]="i.loanid">
                                  </div>
                                  <div *ngIf="!i.isEdit">
                                    {{i.loanid}}
                                  </div>
                                </th>
                                <td>
                                  <div *ngIf="i.isEdit">
                                    <input type="text" name="loanName" class="form-control" [(ngModel)]="i.loanName">
                                  </div>
                                  <div *ngIf="!i.isEdit">
                                    {{i.loanName}}
                                  </div>
                                </td>
                                <td>
                                  <div *ngIf="i.isEdit">
                                    <input type="text" name="loanPlan" class="form-control" [(ngModel)]="i.loanPlan">
                                  </div>
                                  <div *ngIf="!i.isEdit">
                                    {{i.loanPlan}}
                                  </div>
                                </td>
                                <td>
                                  <div *ngIf="i.isEdit">
                                    <input type="text" name="Interest" class="form-control" [(ngModel)]="i.interest">
                                  </div>
                                  <div *ngIf="!i.isEdit">
                                    {{i.interest}}
                                  </div>
                                </td>
                                <td>
                                  <div *ngIf="i.isEdit">
                                    <input type="text" name="Amount" class="form-control" [(ngModel)]="i.amount">
                                  </div>
                                  <div *ngIf="!i.isEdit">
                                    {{i.amount}}
                                  </div>
                                </td>
                                <td>
                                  <div *ngIf="!i.isEdit">
                                    <table class="g-3">
                                      <tr>
                                        <td><button class="btn btn-primary" (click)="onEdit(i)">Edit</button></td>
                                        &nbsp;
                                        <td><button class="btn btn-danger"  (click)="Deleteloan(i)">Delete</button></td>
                                      </tr>
                                    </table>
                                  </div>
                                  <div *ngIf="i.isEdit">
                                    <table class="g-3">
                                      <tr>
                                        <td><button class="btn btn-primary" (click)="Updateloan(i)">save</button></td>
                                        &nbsp;
                                        <td> <button class="btn btn-danger" (click)="i.isEdit = false">cancel</button></td>
                                      </tr>
                                    </table>
                                  </div>
                                  
                                
                                </td>
                                
                              </tr>
                            </tbody>
                        </table>
                      
                      </div>
                      </div>
                      <hr>
                  
              
        </div>
            </div>
    </div>
</div>
</div>
</div>